/* EXO family */
@font-face {
  font-family: 'Exo';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local('Exo-Regular'),
    url('assets/fonts/Exo-Regular.woff') format('woff2'),
    url('assets/fonts/Exo-Regular.woff2') format('woff');
}

@font-face {
  font-family: 'Exo';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: local('Exo-Medium'), url('assets/fonts/Exo-Medium.woff') format('woff2'),
    url('assets/fonts/Exo-Medium.woff2') format('woff');
}

@font-face {
  font-family: 'Exo';
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: local('Exo-SemiBold'),
    url('assets/fonts/Exo-SemiBold.woff') format('woff2'),
    url('assets/fonts/Exo-SemiBold.woff2') format('woff');
}

@font-face {
  font-family: 'Exo';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local('Exo-Bold'), url('assets/fonts/Exo-Bold.woff') format('woff2'),
    url('assets/fonts/Exo-Bold.woff2') format('woff');
}

@font-face {
  font-family: 'Exo';
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: local('Exo-Italic'), url('assets/fonts/Exo-Italic.woff') format('woff2'),
    url('assets/fonts/Exo-Italic.woff2') format('woff');
}

@font-face {
  font-family: 'Exo';
  font-weight: 500;
  font-style: italic;
  font-display: swap;
  src: local('Exo-MediumItalic'),
    url('assets/fonts/Exo-MediumItalic.woff') format('woff2'),
    url('assets/fonts/Exo-MediumItalic.woff2') format('woff');
}

@font-face {
  font-family: 'Exo';
  font-weight: 600;
  font-style: italic;
  font-display: swap;
  src: local('Exo-SemiBoldItalic'),
    url('assets/fonts/Exo-SemiBoldItalic.woff') format('woff2'),
    url('assets/fonts/Exo-SemiBoldItalic.woff2') format('woff');
}

@font-face {
  font-family: 'Exo';
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: local('Exo-BoldItalic'),
    url('assets/fonts/Exo-BoldItalic.woff') format('woff2'),
    url('assets/fonts/Exo-BoldItalic.woff2') format('woff');
}

/* RUBIK family */

@font-face {
  font-family: 'Rubik';
  font-weight: 400;
  font-style: normal;
  src: local('Rubik-Regular'),
    url('assets/fonts/Rubik-Regular.woff') format('woff2'),
    url('assets/fonts/Rubik-Regular.woff2') format('woff');
}

@font-face {
  font-family: 'Rubik';
  font-weight: 500;
  font-style: normal;
  src: local('Rubik-Medium'),
    url('assets/fonts/Rubik-Medium.woff') format('woff2'),
    url('assets/fonts/Rubik-Medium.woff2') format('woff');
}

@font-face {
  font-family: 'Rubik';
  font-weight: 600;
  font-style: normal;
  src: local('Rubik-SemiBold'),
    url('assets/fonts/Rubik-SemiBold.woff') format('woff2'),
    url('assets/fonts/Rubik-SemiBold.woff2') format('woff');
}

@font-face {
  font-family: 'Rubik';
  font-weight: 700;
  font-style: normal;
  src: local('Rubik-Bold'), url('assets/fonts/Rubik-Bold.woff') format('woff2'),
    url('assets/fonts/Rubik-Bold.woff2') format('woff');
}

@font-face {
  font-family: 'Rubik';
  font-weight: 400;
  font-style: italic;
  src: local('Rubik-Italic'),
    url('assets/fonts/Rubik-Italic.woff') format('woff2'),
    url('assets/fonts/Rubik-Italic.woff2') format('woff');
}

@font-face {
  font-family: 'Rubik';
  font-weight: 500;
  font-style: italic;
  src: local('Rubik-MediumItalic'),
    url('assets/fonts/Rubik-MediumItalic.woff') format('woff2'),
    url('assets/fonts/Rubik-MediumItalic.woff2') format('woff');
}

@font-face {
  font-family: 'Rubik';
  font-weight: 600;
  font-style: italic;
  src: local('Rubik-SemiBoldItalic'),
    url('assets/fonts/Rubik-SemiBoldItalic.woff') format('woff2'),
    url('assets/fonts/Rubik-SemiBoldItalic.woff2') format('woff');
}

@font-face {
  font-family: 'Rubik';
  font-weight: 700;
  font-style: italic;
  src: local('Rubik-BoldItalic'),
    url('assets/fonts/Rubik-BoldItalic.woff') format('woff2'),
    url('assets/fonts/Rubik-BoldItalic.woff2') format('woff');
}

/* INTER family */

@font-face {
  font-family: 'Inter';
  font-weight: 400;
  font-style: normal;
  src: local('Inter-Regular'),
    url('assets/fonts/Inter-Regular.woff') format('woff2'),
    url('assets/fonts/Inter-Regular.woff2') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-weight: 500;
  font-style: normal;
  src: local('Inter-Medium'),
    url('assets/fonts/Inter-Medium.woff') format('woff2'),
    url('assets/fonts/Inter-Medium.woff2') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-weight: 600;
  font-style: normal;
  src: local('Inter-SemiBold'),
    url('assets/fonts/Inter-SemiBold.woff') format('woff2'),
    url('assets/fonts/Inter-SemiBold.woff2') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-weight: 700;
  font-style: normal;
  src: local('Inter-Bold'), url('assets/fonts/Inter-Bold.woff') format('woff2'),
    url('assets/fonts/Inter-Bold.woff2') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-weight: 400;
  font-style: italic;
  src: local('Inter-Italic'),
    url('assets/fonts/Inter-Italic.woff') format('woff2'),
    url('assets/fonts/Inter-Italic.woff2') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-weight: 500;
  font-style: italic;
  src: local('Inter-MediumItalic'),
    url('assets/fonts/Inter-MediumItalic.woff') format('woff2'),
    url('assets/fonts/Inter-MediumItalic.woff2') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-weight: 600;
  font-style: italic;
  src: local('Inter-SemiBoldItalic'),
    url('assets/fonts/Inter-SemiBoldItalic.woff') format('woff2'),
    url('assets/fonts/Inter-SemiBoldItalic.woff2') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-weight: 700;
  font-style: italic;
  src: local('Inter-BoldItalic'),
    url('assets/fonts/Inter-BoldItalic.woff') format('woff2'),
    url('assets/fonts/Inter-BoldItalic.woff2') format('woff');
}
