/*********************************/
/* HEADER */
/*********************************/

.header {
  width: 100%;
  /* display: flex; */
  background-color: rgba(69, 69, 69, 0.805);
}

.header-div {
  display: flex;
}

.header--1 {
  position: fixed;
  z-index: 9999;
}

.logo {
  height: 8rem;
}

.logo--1 {
  margin: 1.2rem 6.4rem 0.6rem 10.4rem;
  filter: drop-shadow(0px 10rem 0 #f8e3de);
  transform: translateY(-10rem);
}

.kupon {
  display: block;
  color: #e69c8a;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  line-height: 1.4;
  background-color: #3d3d3d;
  text-align: center;
  padding: 1rem;
}

.kupon span {
  color: red;
}

.hairpro-link {
  text-decoration: none;
  color: red;
  cursor: pointer;
}

/********************************/
/* NAVIGATION */
/********************************/

.main-nav,
.footer-nav {
  display: flex;
  align-self: center;
  justify-content: center;
  margin: 0 auto;
}

.main-nav-icon {
  height: 3.2rem;
  width: 3.2rem;
  color: #e6e6ec;
}

.main-nav-list,
.footer-nav-list {
  display: flex;
  font-weight: 700;
  color: #e6e6ec;
  list-style: none;
  align-items: center;
  justify-content: center;
  gap: 6.4rem;
}

.main-nav-list {
  font-size: 1.8rem;
}

.main-nav-link,
.footer-nav-link,
.main-nav-link:link,
.footer-nav-link:link,
.main-nav-link:visited,
.footer-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #e69c8a;
}

.main-nav-link:hover,
.main-nav-icon:hover,
.footer-nav-link:hover {
  color: #edb8ac;
  transform: scale(1.1);
  transition: all 0.4s;
}

.main-nav-icon:active,
.main-nav-link:active,
.footer-nav-link:active {
  color: #f1c6bc;
}

/********************************/
/* MOBILE */
/********************************/

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #e69c8a;
}

.icon-mobile-nav[name='close-outline'] {
  display: none;
}

/********************************/
/* STICKY NAVIGATION */
/********************************/

/* .sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 10rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(143, 143, 143, 0.95);
  filter: drop-shadow(0 -10px 20px rgb(170, 170, 170));
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .section-hero {
  margin-top: 9.64rem;
}

.sticky--1 {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 10rem;
  padding-top: 0;
  padding-bottom: 0;
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
} */

/********************************/
/* SCROLL ACTIVATED NAVIGATION */
/********************************/

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  transition: all 300ms ease-in-out;
}

/* .scroll-down header {
  transform: translate3d(0, -100%, 0);
}

.scroll-up header {
  filter: drop-shadow(0 -10px 20px rgb(170, 170, 170));
} */

/********************************/
/* HERO SECTION */
/********************************/

.section-hero {
  height: 100vh;
  background-image: linear-gradient(black, black),
    url('/img/Boritokep-min.webp');
  background-size: cover;
  background-blend-mode: saturation;
  background-repeat: no-repeat;
  padding-top: 9.6rem;
  padding-bottom: 1.6rem;
}

.hero {
  padding-top: 7.2rem;
}

.main-heading {
  width: 70vw;
  color: #df7f69;
  padding: 2.4rem 0 2.4rem 0;
  text-align: center;
  justify-content: center;
  background-color: rgba(248, 227, 222, 0.9);
  border-radius: 2rem;
  margin: 0 auto;
}

.main-heading h1 {
  font-size: 6.4rem;
  background: linear-gradient(to left, #e69c8a, #db7158);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 2.4rem 2.4rem;
}

.main-heading h2 {
  font-size: 3.2rem;
  padding-top: 3.2rem;
}

.main-heading-p,
.main-heading-span {
  font-size: 2rem;
  font-weight: 500;
}

.main-heading-p {
  line-height: 1.6;
  padding: 0 6.4rem 0 6.4rem;
}

.main-heading span {
  display: block;
  font-style: italic;
  padding: 1.6rem 0 3.2rem 0;
}

.btn-call,
.btn-call:link,
.btn-call:visited {
  font-size: 1.8rem;
  font-weight: 700;
  background-image: linear-gradient(to right, #db7158, #e69c8a);
  color: #575757;
  margin: 1.6rem auto;
  padding: 1.6rem 4.8rem;
  cursor: pointer;
}

.btn-call:active,
.btn-call:hover {
  background-image: linear-gradient(to right, #e28d79, #edb8ac);
  color: #4e4e4e;
  transform: scale(1.1);
  transition: all 0.4s;
}

/* .btn-call:active {
  background-image: linear-gradient(to right, #edb8ac, #f8e3de);
  color: #444;
} */

.btn-call a {
  text-decoration: none;
  color: #575757;
}

.btn-call p {
  display: inline-block;
  vertical-align: middle;
}

.icn-phone {
  height: 3rem;
  width: 3rem;
  vertical-align: middle;
}

.icn-phone--1 {
  stroke: #575757;
  fill: #575757;
}

.hero-img {
  height: 35rem;
  margin: 0 auto;
}

/********************************/
/* ABOUT SECTION */
/********************************/
.section-about,
.section-about--1 {
  background-image: linear-gradient(to right, #edb8ac, #f8e3de);
}

.about-box {
  display: flex;
  flex-direction: row;
}

.section-about--1 {
  padding-top: 9.6rem;
}

.about-p-box {
  display: flex;
  flex-direction: column;
  padding-right: 9.6rem;
  justify-content: center;
}

.about-h2 {
  color: #db7158;
}

.about-p span {
  color: #4e4e4e;
}

.about-img {
  display: flex;
  margin: auto;
  height: 45rem;
  border-radius: 11px;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 1);
  /* animation-duration: 6s;
  animation-name: slidetop; */
}

.about-img:hover {
  transform: scale(1.1);
  transition: all 0.4s;
}

/* @keyframes slidetop {
  from {
    margin-top: 100%;
  }

  to {
    margin-top: auto;
  }
} */
/********************************/
/* SERVICES SECTION */
/********************************/

.section-services--1 {
  background-image: linear-gradient(to right, #575757, #8f8f8f);
}

.section-services--2 {
  background-image: linear-gradient(to right, #edb8ac, #f8e3de);
  /* padding-top: 6.4rem; */
}

.service-box {
  border-radius: 11px;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.477);
  margin-top: 3.2rem;
}

.service-box--1,
.service-box--2 {
  display: flex;
  flex-direction: row;
}

.service-p-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 3.2rem;
}

.service-img {
  display: flex;
  height: 20rem;
  border-radius: 11px;
  margin: auto 3.2rem auto 3.2rem;
}

.service-img:hover {
  transform: scale(1.1);
  transition: all 0.4s;
}

.service-img--1 {
  display: none;
  height: 20rem;
  border-radius: 11px;
  margin: auto 3.2rem auto 3.2rem;
}

.service-box:nth-child(6) {
  margin-bottom: 0;
}

.service-box--1 {
  background-color: #edb8ac;
  margin-right: 18rem;
}

.service-box--2 {
  background-color: #c7c7c7;
  margin-left: 18rem;
}

.service-box-h2,
.service-img {
  display: flex;
}

.service-box-h2 {
  margin: 3.2rem 3.2rem 1.6rem 3.2rem;
}

.service-box-h2--1 {
  color: #5a5a5a;
}

.service-box-h2--2 {
  color: #c5664f;
}

.service-p {
  display: block;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.4;
  margin-left: 3.2rem;
  margin-right: 3.2rem;
}

.service-p--2 {
  color: #c5664f;
}

.service-p-link {
  display: block;
  color: inherit;
  font-weight: 700;
  font-style: italic;
  text-decoration: none;
  letter-spacing: 1px;
  margin-top: 1.6rem;
}

.arrow {
  height: 2rem;
  width: 2rem;
  vertical-align: middle;
  margin-left: 5px;
  margin-bottom: 2px;
}

.arrow--1 {
  fill: #5a5a5a;
}

.arrow--2 {
  fill: #c5664f;
}

/*********************************/
/* CUT, HEALTH SECTION */
/*********************************/
.section-cut {
  background-image: linear-gradient(to right, #edb8ac, #f8e3de);
  padding-top: 9.6rem;
}

.service--1 {
  color: #db7158;
}

.service--1 span {
  color: #4e4e4e;
}

.section-cut h2:nth-child(3) {
  padding-top: 6.4rem;
}

.img-box {
  display: flex;
  flex-direction: row;
  gap: 6.4rem;
  justify-content: center;
  margin-top: 4.8rem;
  /* padding-bottom: 3.2rem; */
}

.img-box img {
  height: 20rem;
  border-radius: 11px;
}

.img-box img:hover {
  transform: scale(1.1);
  transition: all 0.4s;
}

/*********************************/
/* DRY SECTION */
/*********************************/

.section-dry {
  background-color: #c7c7c7;
}

.service--2 {
  color: #c5664f;
}

.service--1 span,
.service--1 li,
.service--2 span,
.service--2 li {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1.6;
}

.service--1 li,
.service--2 li {
  list-style: disc;
  list-style-position: outside;
  margin-left: 2.4rem;
}

/*********************************/
/* COLORING SECTION */
/*********************************/

.section-coloring {
  background-image: linear-gradient(to right, #edb8ac, #f8e3de);
}

.service-p--2 span:nth-child(1),
.service-p--2 span:nth-child(3),
.service-p--2 span:nth-child(5),
.service-p--2 span:nth-child(7),
.service-p--2 span:nth-child(9) {
  color: #db7158;
  font-size: 2.4rem;
}

/*********************************/
/* HEALTH SECTION */
/*********************************/

.section-health {
  background-color: #c7c7c7;
}

/*********************************/
/* BUN SECTION */
/*********************************/
.section-bun {
  background-image: linear-gradient(to right, #edb8ac, #f8e3de);
}

/*********************************/
/* COURSE SECTION */
/*********************************/

.section-course {
  background-image: linear-gradient(to right, #edb8ac, #f8e3de);
  padding-top: 9.6rem;
}

.course-h2 {
  color: #db7158;
  margin-bottom: 2.4rem;
}

.course-h2:nth-child(2) {
  padding: 6.4rem 0 3.2rem 0;
}

.section-course .general-heading--h4 {
  color: #db7158;
  font-weight: 700;
  line-height: 1.4;
}

.section-course ul {
  margin-top: 2.4rem;
}

.section-course li {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1.6;
  list-style: disc;
  list-style-position: outside;
  margin-left: 2.4rem;
}

.course-p ul:last-child li {
  margin-bottom: 1.2rem;
}

.course-p ul:last-child li:last-child {
  margin-bottom: 0;
}

.faq-p {
  font-weight: 600;
}

.actually-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  /* background-color: #c7c7c7; */
  margin: 3.2rem auto 6.4rem auto;
  /* border-radius: 11px; */
}

.actually-h2 {
  color: #db7158;
  margin: 6.4rem 0 0 0;
}

.actually-card {
  width: 30%;
  background-color: #c7c7c7;
  border-radius: 11px;
  padding-bottom: 1.6rem;
}

.actually-box h4 {
  font-size: 3.2rem;
  font-weight: 700;
  margin: 1.6rem auto 0 auto;
  text-align: center;
}

.actually-card span {
  display: block;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 500;
  margin: 1rem auto 1rem auto;
}

.actually-card ul {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin: 2.4rem 6.4rem 1.6rem 6.4rem;
  text-align: center;
}

.actually-card ul li {
  padding: 0.6rem;
}

.actually-card li {
  list-style: none;
  background-color: #f8e3de;
  border-radius: 11px;
  margin-left: 0;
}

.section-course form {
  width: 60rem;
  text-align: justify;
}

form .input-box {
  display: flex;
  justify-content: space-between;
}

.gdpr-box--2 {
  display: block;
  align-items: center;
  text-align: left;
  /* text-align: center;
  vertical-align: middle; */
}

/* .gdpr-box--2 [type='checkbox'] {
  vertical-align: middle;
} */

/* .gdpr-box--2 [type='checkbox'] {
  margin: 0 1rem 0 0.6rem;
} */
/* 
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 2rem;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: -4px;
  left: 4px;
  height: 2rem;
  width: 2rem;
  background-color: #ececec;
  border-radius: 3px;
}

.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  left: 35%;
  top: 10%;
  width: 0.5rem;
  height: 1rem;
  border: solid #db7158;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
} */

/* .gdpr-box--2 span {
  font-size: 1.2rem;
} */

input[type='checkbox'] {
  appearance: none;
  width: 2.5rem;
  height: 2.5rem;
  background-color: #faebe8;
  border-radius: 4px;
  /* display: flex; */
  vertical-align: middle;
  position: relative;
  transition: 0.3s all ease-in-out;
  cursor: pointer;
}

input[type='checkbox']:checked {
  background-color: #db7158;
}

input[type='checkbox']::before {
  position: absolute;
  content: '\2713';
  font-size: 4rem;
  line-height: 1.6rem;
  color: #faebe8;
  transform: scale(0);
  transition: 0.3s all ease-in-out;
}

input[type='checkbox']:checked::before {
  transform: scale(1);
}

.gdpr-box--2 label {
  font-size: 1.2rem;
  margin-left: 1rem;
  vertical-align: middle;
}

.gdpr-link--2 {
  font-size: 1.2rem;
  font-weight: 600;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.field .item {
  width: 100%;
  background-color: #faebe8;
  font-size: 1.6rem;
  font-family: inherit;
  outline: none;
  border: 2px solid #e28d79;
  border-radius: 11px;
  padding: 1.6rem;
  margin: 1.2rem 0;
}

.field.error .item {
  border-color: red;
}

.input-box .input-field {
  width: 48.5%;
}

.form:last-child .input-box:nth-child(5) .input-field {
  width: 100%;
}

form .textarea-field .item {
  resize: none;
}

.field .error-txt {
  display: none;
  font-size: 1.45rem;
  color: red;
  text-align: left;
  margin: -0.5rem 0 1rem 1rem;
}

.field.error .error-txt {
  display: block;
}

form .textarea-field .error-txt {
  margin-top: -0.5rem;
}

.gdpr-box--2 .error-txt {
  display: none;
  font-size: 1.5rem;
  line-height: 1.5;
  color: red;
  text-align: left;
  margin: 1rem 0 1rem 0;
}

.gdpr-box--2.error .error-txt {
  display: block;
}

.btn .btn-success {
  background: #db7158;
  color: #444;
}

.btn-lg {
  background: #db7158;
  margin-bottom: 1.6rem;
}

.btn-success:hover,
.btn-success:active {
  background: #e28d79;
}

.btn-lg,
.btn-success:hover,
.btn-success:active {
  text-align: center;
  vertical-align: middle;
  font-family: 'EXO', 'RUBIK', sans-serif;
  color: #444;
  border: 1px solid #444;
  font-size: 1.6rem;
  letter-spacing: 1px;
  border-radius: 11px;
  padding: 0.5rem 2rem;
}

.border-radius-0 {
  border-radius: 11px;
}

/*********************************/
/* FOOTER */
/*********************************/

.footer {
  position: absolute;
  width: 100%;
  background-color: #444;
  padding-top: 1.6rem;
}

.logo-box {
  text-align: center;
  margin: 1.6rem auto 1.6rem auto;
}

/* .logo--2, */
.social-box {
  margin: 1.6rem auto;
}

.logo--2 {
  /* display: block; */
  opacity: 0.8;
}

.social-box {
  display: flex;
  gap: 3.2rem;
  width: 100%;
  justify-content: center;
  margin-bottom: 3.2rem;
}

.icon-social {
  display: flex;
  flex-direction: row;
  height: 3.2rem;
  width: 3.2rem;
  fill: #e69c8a;
}

.icon-social:hover {
  transform: scale(1.2);
  transition: all 0.4s;
}

.info-box {
  display: grid;
  color: #e69c8a;
  margin: auto 6.4rem;
  padding-bottom: 3.2rem;
  /* border-bottom: 1px solid #e28d79; */
}

.grid--2-cols {
  gap: 9.6rem;
}

.grid--2-cols .days {
  justify-content: end;
}

.grid--2-cols .hours {
  justify-content: start;
}

.opening-box,
.contact-box {
  line-height: 1.4;
}

.opening-box h6,
.opening-box p,
.contact-box h6,
.contact-box p {
  text-align: center;
}

.opening-box h6,
.contact-box h6 {
  font-size: 2.4rem;
  margin-bottom: 1.6rem;
}

.opening-box p,
.contact-box p {
  font-size: 1.6rem;
}

.contact-box:nth-child(3) {
  background-color: red;
  color: red;
}

.days,
.hours {
  display: grid;
}

.contact-box button {
  display: block;
  justify-content: center;
  margin-top: 3.2rem;
}

.map-box {
  margin: auto;
}

.gmap_iframe {
  display: block;
  border-radius: 11px;
  padding: 3px;
}

.gmap_iframe--1 {
  border: 3px solid #e69c8a;
}

.container-builder {
  text-align: center;
}

.builder-box {
  display: flex;
  gap: 0.6rem;
  font-size: 1rem;
  color: #e6e6ec;
  align-items: center;
  justify-content: center;
  padding: 1.6rem 0 1rem 0;
  border-top: 1px solid #e28d79;
}

#builder {
  color: #e6e6ec;
}

.img-builder {
  height: 1.8rem;
  text-align: center;
  border-radius: 11px;
  border: 4px solid #fff;
}

.img-builder:hover {
  transform: scale(1.1);
  transition: all 0.4s;
}

.copyright {
  display: block;
}

.gdpr-box {
  text-align: center;
  margin: 0 auto 1rem auto;
}

.gdpr-link--1 {
  font-size: 1rem;
  color: #e6e6ec;
  text-decoration: underline wavy;
  -webkit-text-decoration: underline wavy;
  text-underline-offset: 2px;
  -webkit-text-underline-offset: 2px;
  cursor: pointer;
}
